*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 72%, rgb(206, 204, 204) 40%, rgb(201, 201, 201) 68%, rgb(192, 190, 190) 100%);
}

.text{
position: absolute;
top: 40%;
left: 10%;
}

h1{
font-size: 5rem;
width: 550px;
color: rgb(80, 80, 122);
margin-bottom: 20px;
}

p{
    width: 49rem;
    color: rgb(80, 101, 126);
    font-size: 30px;
    margin-bottom: 20px;
}

button{
    font-size: 20px;
    cursor: pointer;
    padding: 15px 60px;
    border-radius: 50px;
    background-color: rgb(40, 71, 172);
    border: solid 2px rgb(43, 55, 226);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover{
transform: translateY(-5px);
}

header{
position: absolute;
right: 5%;
top: 20px;
}


header a{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-size: 27px;
}

span{
    opacity: 0.5;
}

img{
    position: relative;
    left: 65%;
    top: 200px;
}

@media screen and (max-width: 1300px){

   .text h1{
    font-size: 70px;
    width: 500px;
    position: absolute;
    margin-top: -250px;
    text-align: center;
   }

   p{
    font-size: 30px;
    width: 400px;
    text-align: center;
   }

   header a{
    display: none;
   }
    

  
   img{
    position: relative;
    width:350px;
    
    
   }

  button{
   margin-left: 22%;
  }
}

@media screen and (max-width: 700px){

    .text{ 
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
   div h1{
    font-size: 30px;
    width: 320px;
    position: absolute;
    margin-top: 30px;
    
   }

    p{
    font-size: 20px;
    width: 320px;
    margin-left: 100px;
   }

   header{
    display: none;
   }

  
   img{
    position: absolute;
    width:290px;
    left: 20%;
    margin-right: 20%;
    top: 65%;
   }

   button{
    margin-left: 18%;
   }


}



